---
import "../styles/font.css";

interface Props {
    title: string;
    description: string;
    url?: string;
}

const { title, description, url = "https://nanomotions.org" } = Astro.props;
---

<!doctype html>
<html class="select-none" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta
            name="viewport"
            content="width=device-width"
            ,
            initial-scale="1.0"
        />
        <meta name="color-scheme" content="dark" />
        <meta name="keywords" content="Nanomotions" />
        <meta name="author" content="Imabanana80" />
        <meta name="robots" content="index, follow, noarchive" />
        <meta property="og:site_name" content="Nanomotions" />
        <meta property="og:title" content={title} />
        <meta property="og:image" content="/logo.png" />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={url} />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{title}</title>
    </head>
    <body
        class="bg-black text-white font-jetbrainsmono text-base leading-[1.3] font-light select-none overflow-y-scroll"
    >
        <main
            class="box-content border bg-black border-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 grid absolute grid-cols-[minmax(200px,1fr)] p-[1.75rem] pt-[1.25rem] w-[55rem] max-w-[75%]"
        >
            <slot />
        </main>
    </body>
</html>

<style is:global>
    *,
    *::before,
    *::after {
        box-sizing: content-box;
        margin: 0;
        padding: 0;
    }
    body {
        zoom: 1;
    }
    @media screen and (max-width: 768px) {
        body {
            zoom: 0.8;
        }
    }
    @media screen and (max-width: 480px) {
        body {
            zoom: 0.7;
        }
    }
</style>
